<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815661724724-jpvsp0adl4g9sb7nht8sdgnofpipu872.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815661724724-jpvsp0adl4g9sb7nht8sdgnofpipu872</string>
	<key>API_KEY</key>
	<string>AIzaSyCMEXZ89WUkdPRKNFKov3zih_g4e5hDYnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>815661724724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maartenborsje.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d567e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d567e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815661724724:ios:d44a5541235da1a084c661</string>
</dict>
</plist>